.colour-card {
  overflow: hidden;
  border-radius: 12px;
}

.colour-preview {
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.card {
  border-radius: 12px;
}

button {
  margin-bottom: 5px;
}